<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admins page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    <style>
        .navigation-order{
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Admins page</h1>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Full Car Name</th>
                        <th>Cost</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="admin : ${admins}">
                        <td th:text="${admin.fullName}"></td>
                        <td th:text="${admin.cost}"></td>
                        <td> <a th:href = "@{'/remove1?id='+${admin.adminId}}"><button class="btn btn-outline=danger">Удалить</button></a><td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-row">
            <form class="needs-validation" novalidate action="#" th:action="@{/saveadmin/}" th:object="${admin}" method="post">
                <label for="full_name">Full Name</label>
                <input type="text" id="full_name" th:field="*{fullName}" class="form-control" required/>
                <div class="invalid-feedback">Введите цену авто</div>

                <label for="cost">Cost</label>
                <input type="text" id="cost" th:field="*{cost}" class="form-control" required/>
                <div class="invalid-feedback">Введите цену авто</div>
                <br/>
                <button type="submit" class="btn btn-outline-success">Добавить</button>
            </form>
        </div>
        <br />
        <div class="row navigation-order">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <a href="/cars">Перейти на страницу салона</a>
            </div>
        </div>
    </div>
</div>
<script src="/jquery.js" type="application/javascript"></script>
<script src="/bootstrap.min.js" type="application/javascript"></script>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>